.body {
  display: flex;
  justify-content: space-around;
  margin: 40px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2px;
  background-color: white;
  padding: 2px;
  margin: 10px;
  width: 60%;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

button {
  padding: 30px;
}

p {
  padding: 30px 10px;
  font-size: 30px;
}

.item {
  font-size: 25px;
  font-weight: 700;
}

.item17 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item0 {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: white !important;
  color: black;
  text-align-last: right;
  margin-right: 2px;
}

.item4,
.item8,
.item12,
.item16,
.item19 {
  background-color: rgb(42, 46, 99) !important;
  color: white;
}

.item4:hover,
.item8:hover,
.item12:hover,
.item16:hover,
.item19:hover {
  background-color: rgb(51, 57, 151) !important;
  color: white;
}
